html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto; 
    padding: 2em 2em 4em;
    max-width: 98%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    text-align: center;     
}

.maxwidth{
    width : 98%;
    text-align: center; 
}

.myimgstyle{
    width:19%;
    height:19%;
    float:left;
    margin: 1%;
    -webkit-box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.91);
    -moz-box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.91);
    box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.91);
}

.clear {
    clear: both;
}

#Game {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}

#Gamei
{
    width:80%;
    height:50%;
}

#winz{
   width:90%;
   height:43%; 
    max-width: 422px;
}

.f_left
{
    float: left;
}

.f_right
{
    float: right;
}

.automargin
{
    margin: 1%;
}
//--------------------------------------------


.displayed-scores {
	text-align: center;
}

.team-score {
	width: 45%;
	float: left;
}

.round {
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
}

.displayed-score {
	width: 80%;
	margin: 0 auto;
	background: #000;
	font-weight: 800;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	white-space: nowrap;
}


.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.hide {
	display: none;
}

